/* ========================================================================
   LANG MENU
   ======================================================================== */

/* --- MOBILE AND OLD DEVICES first --------------------------------------- */

/* Mobile and common styles. Desktop overwrites below. */

.header-layout{
  &__pre-header{
    &__lang-box{
      nav{
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;

        ul{
          flex-wrap: wrap;
          justify-content: center;
          height: 100%;
          list-style-type: none;
        }

        li{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          float: left;
          padding: 0 0 0.2em 40px;
        }
      }
    }
  }
}




/* --- DESKTOP only ------------------------------------------------------- */

/* Overwrite mobile styles here. */

@media screen and (orientation: landscape) and (width >= $media-width-transition) {
  .anything{
    display: block;
  }
}
