/* ========================================================================
   MAIN MENU
   ======================================================================== */

/* --- MOBILE AND OLD DEVICES first --------------------------------------- */

/* Mobile and common styles. Desktop overwrites below. */

.header-layout{
  &__main-header {
    &__menu-box {
      nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        ul {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin: 20px 0;
          list-style-type: none;
        }

        li {
          padding: 0 0 0.2em 40px;
          margin: 10px 0;
        }
      }
    }
  }
}




/* --- DESKTOP only ------------------------------------------------------- */

/* Overwrite mobile styles here. */

@media screen and (orientation: landscape) and (min-width: $media-width-transition) {
  .header-layout {
    &__main-header {
      &__menu-box {
        nav {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          float: right;

          ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 100%;
            margin: 0;
            list-style-type: none;
          }

          li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.2em 0 0.2em 40px;
            margin: 0;
          }
        }
      }
    }
  }


  .footer-layout {
    &__menu {
      &__menu-box {
        nav {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          float: right;

          ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 100%;
            margin: 0;
            list-style-type: none;
          }

          li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.2em 0 0.2em 40px;
            margin: 0;
          }
        }
      }
    }
  }


}
