/* ========================================================================
   MODULE THEME
   Here, change only fonts and colors !!
   ======================================================================== */

/* --- Photo module ------------------------------------------------------- */

.photo-module {
  &__caption {
    color: white;
    text-align: right;
    background-color: rgb(0 0 0 / 60%);
  }
}

.photo-transition img{;
  filter: grayscale(50%);
  transition: transform 1s ease, filter 1s ease;
  transform-origin: center;

  &:hover {
    filter: grayscale(0%);
    transform: scale(1.5);
  }
}

/* --- Card module -------------------------------------------------------- */

.card-module{
  background-color: white;

  &__title{
    margin: 24px;
  }

  &__text{
    margin: 12px;
  }

  .discovered {
    filter: grayscale(0%);
    transition: filter 1s ease;
  }
}



