<head>
    <meta charset="UTF-8">
    <!-- metadata -->
    <title>{{LAYOUTS.HEADER.title_txt}}</title>
    <meta name="description" content="{{LAYOUTS.HEAD.descrip_txt}}">
    <meta name="keywords" content="{{LAYOUTS.HEAD.keywords_txt}}">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <!-- Style and format -->
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-navbutton-color" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="black">
    <!-- Javascript sources -->
    <script src="../assets/scripts/main.js" defer></script>
</head>
