<header class="header-layout">
    <div class="header-border"></div>
    <!-- Lower menu bar - Logo and main menu -->
    <div class="header-menu">
        <div class="header-hamburger" onclick="switchHamburger()">
            <div class="header-hamburger-line"></div>
            <div class="header-hamburger-line"></div>
            <div class="header-hamburger-line"></div>
        </div>
        <div>
            <h1 class="header-title">{{LAYOUTS.HEADER.title_txt}}</h1>
        </div>
        <div class="header-nav">
            <each loop="navitem, key in LAYOUTS.HEADER.NAV_main">
                <include src="modules/main-menu.html"></include>
            </each>
        </div>
    </div>
    <div id="mobile-menu" class="mobile-menu">
        <each loop="navitem, key in LAYOUTS.HEADER.NAV_main">
            <include src="modules/main-menu.html"></include>
        </each>
    </div>
</header>

<script>
    function switchHamburger() {
        const menu = document.getElementById('mobile-menu');
        menu.classList.toggle('hidden');
    }
</script>
